<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<defaultDocument>
			
            <files>
                <add value="/admin/index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
				<clear/>

				 <rule name="RewriteUserFriendlyURL5" stopProcessing="true">
                    <match url="^([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="?page={R:1}" />
                </rule>
							  
                <rule name="RewriteUserFriendlyURL6" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="?page={R:1}&amp;id={R:2}" />
                </rule>
				
				
                <rule name="RewriteUserFriendlyURL7" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)/([^/]+)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="?page={R:1}&amp;id={R:2}&amp;extra={R:3}" />
                </rule>
				
				
            </rules>
        </rewrite>
       
    </system.webServer>
</configuration>
